/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the body and overall layout */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fde353; /* Change to your preferred background color */
    color: #381a09;
    line-height: 1.6;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 14px;
}

/* Apply styles to the navigation bar */
nav {
    background-color: #4c3c32; /* Change to your preferred navigation bar color */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}

/* Apply styles to the hero section */
.hero {
    text-align: left;
    padding: 150px 200px;
    background-image: url('bg.png');
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 75px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.cta-button:hover {
    background-color: #3a312c;
}

/* Apply styles to the menu section */
.menu {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6; /* Change to your preferred color for the 'Menu' section */
}

.menu h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu p {
    font-size: 18px;
    margin-bottom: 50px;
}

/* Apply styles to the product boxes */
.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    margin-left: 200px;
    column-gap: 1px;
}

.product-box {
    background: #8dccb9;
    padding: 20px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: relative;
}

.product-box img {
    margin-top: 1.5rem;
    width: 100%; /* Ensure images take the full width of their container */
    max-width: 200px; /* Adjust the maximum width as needed */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
